[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-pymongo = "*"
flask-cors = "*"
uwsgi = "*"
bson = "*"
python-arango = "*"
flask-python-arango = "*"

[requires]
python_version = "3.6"
